<div class="cont">
<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, 'error') %> prohibited this recipe from being saved:</h2>

      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div >
  <%= f.label :preparation_time %> in hour
  <%= f.number_field :preparation_time %>
</div>

<div>
  <%=f.label :cooking_time%> in hour
  <%= f.number_field :cooking_time %>
</div>

<div>
  <%= f.check_box :public%>
  <%= f.label :public %>
</div>

  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
</div>
