<nav class='sign_in_user_bar'>
      <% unless user_signed_in? %>
        <div class="user-sign user-sign-in-link">
          <%= link_to 'Sign in', new_user_session_path, method: :delete %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="user-sign-in-link">
        <div class="header">
        <ul>
        <%= link_to 'Foods', foods_path %>
        <li><%= link_to 'Recipes', recipes_path %></li>
        <li><%= link_to 'Public Recipes', public_recipes_path %></li>
        <li class="sign_out"><%= link_to 'Sign out', custom_destroy_user_session_path, method: :delete %></li>
      </ul>
       </div>
      </div>
<% end %>
</nav>
