<h1>New Food</h1>
<div class="cont">
  <%= form_with model: @food, url: foods_path, method: :post, local: true do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Chicken breasts" %>
    </div>
    <div>
      <%= f.label :measurement_unit %>
      <%= f.select :measurement_unit, options_for_select(["grams", "ounces", "pounds", "kilograms", "milligrams","Unit"]), placeholder: "Select a measurement unit" %>
    </div>
    <div>
      <%= f.label :price, "Price in $" %>
      <%= f.text_field :price, placeholder: "$ Enter the price" %>
    </div>
    <div>
      <%= f.label :quantity %>
      <%= f.text_field :quantity, placeholder: "Quantity", step: 'any' %>
    </div>
    <div>
      <%= f.submit "Add food" %>
    </div>
  <% end %>
</div>
